.main-container {
  width: 100vw;
  background: var(--very-light-pink);
}
.five-six-seven-dance-container {
  display: grid;
  grid-template-rows: calc(75px + env(safe-area-inset-top)) auto calc(80px + env(safe-area-inset-bottom));
  height: 100vh;
}

@media (min-width: 426px) {
  .main-container {
    width: 425px;
    background: var(--very-light-pink);
    height: 100vh;
  }
}