article {
  display: grid;
  grid-template-columns: 75px 75px auto;
  place-items: center;
  background-color: var(--dark);
  border-top: 1px solid var(--very-light-pink);
  border-bottom: 1px solid var(--very-light-pink);
  height: 80px;
}

article figure img {
  width: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
  background-color: var(--very-light-pink);
  border-radius: 40px;
  cursor: pointer;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 40px;
  background-color: white;
  left: 5px;
  top: 4px;
  transition: all 0.4s
}

input[type='checkbox']:checked + .switch::after {
  transform: translateX(25px);
  background-color: var(--text-input-field);
}

input[type='checkbox']:checked + .switch {
  background-color: var(--hospital-green);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.volume-slider {
  width: 95%;
}

.volume-slider input {
  width: inherit;
}
