.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--hospital-green);
  position: absolute;
  top: calc(75px + env(safe-area-inset-top));
  width: 100%;
  height: calc(100% - 75px - env(safe-area-inset-top));
}

.side-menu-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--hospital-green);
  position: absolute;
  top: calc(75px + env(safe-area-inset-top));
  width: 100%;
  height: calc(100% - 75px - env(safe-area-inset-top));
}
.side-menu h1 {
  margin-bottom: 0;
  user-select: none;
}

ul li {
  list-style-type: none;
  margin: 20px 0;
  font-size: 1.5rem;
}
ul {
  padding: 0;
}
ul li a {
  text-decoration: none;
}

.content {
  padding: 0 40px;
  text-align: justify;
}

.side-menu .menu-item {
  font-weight: 500;
  font-size: var(--xxxl);
  color: var(--dark);
  text-decoration: none;
  padding: 20px 0;
  cursor: pointer;
}

.side-menu-closed {
  display: none;
}

@keyframes flash-ditto {
	0% { opacity: 0; }  
	100% { opacity: 1; }
}


.flash-ditto {
  animation-name: flash-ditto;
}


.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@media (min-width: 426px) {
  .side-menu {
    width: 425px
  }
  .side-menu-secondary {
    width: 425px
  }
}