footer {
  background-color: var(--hospital-green);
  display: grid;
  grid-template-columns: 85px 1fr auto;
  height: 80px;
  place-items: center;
  padding-bottom: env(safe-area-inset-bottom);
}

.bpm {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bpm input {
  width: 40px;
  padding: 3px 7px;
  margin: 0;
  font-family: Nunito;
  font-weight: 800;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
}

.bpm-slider {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

.bpm-slider input {
  width: inherit;
}

  .toggle-reproduction {
    width: 65px;
    display: flex;
    justify-content: center;
  }

  .toggle-reproduction img {
    width: 32px;
  }

.bpm-slider > input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--dark);
}

.bpm-slider > input[type=range]::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  -webkit-appearance: none;
}